SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,.vercel.app
DB_NAME=fyp_n7gx
DB_USER=fyp_n7gx_user
DB_PASSWORD=F3bhOrPukM6SmdkauOWuuFstRSsUArBN
DB_HOST=dpg-d75pgdp4tr6s73cbra3g-a.ohio-postgres.render.com
DB_PORT=5432
EMAIL_HOST_USER=negativezero48@gmail.com
EMAIL_HOST_PASSWORD=ytsb nbhs znjs uiby
