__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.env
.env

backend/graph_cache/
!backend/graph_cache/kathmandu_nepal.graphml
!backend/graph_cache/kathmandu_bagmati_province_nepal.graphml

staticfiles/
media/
node_modules/
.DS_Store
*.log